# Copia este archivo a .env y ajusta la URL.
# Cambia la IP por la de tu PC o la URL pública de Codespaces.
# La URL debe terminar en /webhooks/rest/webhook
EXPO_PUBLIC_RASA_URL=http://192.168.0.71:5005/webhooks/rest/webhook
